html,
body {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #dce7d2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-background {
  width: 100%;
  height: 195px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.background {
  height: 195px;
}

.main-content {
  margin: 1%;
  flex: 1 1 auto;
}

nav {
  display: block;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

nav ul li {
  display: inline-block;
  line-height: 24px;
  margin: 0 8px;
}

nav ul li:first-of-type {
  margin-left: 0;
}

nav ul li a {
  color: #efddfe;
  text-decoration: none;
  transition: 0.2s;
}

nav ul li a:hover {
  text-decoration: none;
  color: #a67cce;
}

nav ul li a:visited {
  text-decoration: none;
}

header {
  text-transform: uppercase;
  border-bottom: 1px solid;
  width: 100%;
  text-align: center;
  background: #2a3bbf;
  background: linear-gradient(90deg, rgba(42, 59, 191, 1) 0%, rgba(46, 43, 173, 1) 50%, rgba(53, 35, 173, 1) 100%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
}

header li {
  padding: 8px;
}

footer {
  margin-top: 0;
  border-top: 1px solid;
  width: 100%;
  text-align: center;
  background-color: #f0e19a;
}

.footer-text {
  padding: 8px;
}

footer a {
  color: #9966cc;
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  color: #08235e;
  text-decoration: none;
}
